body{

    margin: 0;
    border: 0;
    text-align: center;
    background: #FFF;
    color:#fff;
    font-family: "Arial";
}

header{
    position: relative;
    box-shadow: 0PX 2PX 50PX 0PX rgba(0, 0, 0, 0.5);
    height: 50px;
    background: #33A;
    color: #FFF;
    padding: 1%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
}
header .cont1{
    width: 20%;
    height: 100%;
    margin: 0!important;
}
header .cont2{
    width: 20%;
    height: 100%;
    margin: 0!important;
}
.contenedor{
    position:relative;
    width: 100%;
    height: 90%;

}
.contenido{
    position: relative;
}
.contenido img {
    max-width: 100%;
    height: 80%;
}


